{% extends 'layout.html' %}
{% block body %}
    <style>
    .input-group{
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 200px;
    }

    </style>

<h1 style="text-align: center;">Forgot Password Page</h1>
    <h2 style="text-align: center;">Please Complete the Following Fields</h2>

        <form class="form-inline" action="" method="POST">
            <div class="input-group">
                <label>Please input your email</label>
                <input type="email" name="email" class="form-control" size="50" placeholder="Enter Your Email Address" required>
            </div>

        <div class="input-group-btn">
            <button type="submit" class="btn btn-danger" style="margin-left: 430px">Submit</button>
        </div>
        </form>
            <a href="/userlogin" style="margin-left: 450px;">Back</a>


{% endblock %}