{% extends 'layout.html' %}
{% block body %}

<h1 style="text-align: center;">Forgot Password Page</h1>
    <h2 style="text-align: center;">Please Complete the Following Fields</h2>

        <form class="form-inline" action="" method="POST">
            <div class="input-group">
                <label>Please input your email</label>
                <input type="email" name="email" class="form-control" size="50" placeholder="Enter Your Email Address" required>
            </div>

        <div class="input-group-btn">
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        {%include "includes/_messages.html"%}
        </form>
            <a href="/userlogin">Back</a>


{% endblock %}