{% extends 'layout.html' %}
{% block body %}

    <body style="background-image: url('static/img/grad.jpg');";>
    <style>ul.demo{
      margin-left: 200px; font-size: 20px; margin-top: 30px;}
      h1{font-size: 70px;
      }
      
      .con{margin-left: 350px; margin-top: 70px;
      }</style>
      </body>
    <h1 align="center">Anivarya Setu</h1>
    <p class="lead" align="center" font size="15" ><ul class="demo"><li>This application is built on the Python Flask framework</li>
      <li>We can use this to get least crowded nearby pharmacy/ supermarkets </li>
      <li>Can be used to register Organisation/ NGO providing ration of meals</li>
      <li>Used by Pharmacies and grocery shops in providing details of masks/ Sanitizers etc.</li>
      </ul></p>
    
{% endblock %}