{% extends 'layout.html' %}
{% block body %}
    {{mymap.js}}
<style>.map-container{
    margin-left: 315px;

} </style>

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          {% if session.log %}
          <li><a href="/logout">LOG OUT</a></li>
          {% else  %}
          <li><a href="/userlogin">LOGIN/REGISTER</a></li>
          {% endif %}
        </ul>
      </div>

    <div class="map-container"  style="margin-bottom: 30px">
            <h2 style="margin-left: 20px; margin-bottom: 20px">Here is your location</h2>
            {{ mymap.html }}
    </div>

{% endblock %}